body {
  background-color: white;
}

.App {
  background-color: #000000;
  border: 1px solid white;
  display: inline-block;
}

.App {
  text-align: center;
}

.cell-input {
  width: 60px;
  border: 0px;
}